body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#timetable {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
.cell {
    border: 1px solid #aaa;
    min-height: 5px;
    padding: 5px;
    background-color: #f9f9f9;
    overflow: hidden;
}
#objectCreationPanel {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border: 1px solid #ddd;
}
.line {
    display: block;
    margin-bottom: 5px;
}
.control {
    margin: 5px 0;
}
.delete-btn {
    display: inline-block;
    margin-left: 10px;
    color: red;
    cursor: pointer;
}
#timetableControls {
    margin-bottom: 10px;
}
